@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #33764B;
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 18px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #33764B;
    border: 2px solid rgb(238, 255, 240);
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}